FullSemantification.json
[{"id":"6a8ef960.ac681","type":"function","z":"71321c03.3303bc","name":"Drop Table Query","func":"context.global.queryType=\"dropTable\";\nvar newMsg = {\n\"topic\": \"DROP TABLE OBSERVATIONSTABLE \"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["c0f6b17b.e14dd"]]},{"id":"7ec9b3b6.b0639c","type":"inject","z":"71321c03.3303bc","name":"Create Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.99374389648438,"y":42.61875915527344,"wires":[["65f5b601.9bdea"]]},{"id":"65f5b601.9bdea","type":"function","z":"71321c03.3303bc","name":"Create Table Query","func":"context.global.queryType=\"createTable\";\nvar newMsg = {\n\"topic\": \"CREATE TABLE OBSERVATIONSTABLE(observation TEXT PRIMARY KEY NOT NULL,procedure TEXT,type TEXT,observedProperty TEXT,result TEXT,floatValue REAL,uom TEXT,samplingTime TEXT,inXSDDateTime NUMERIC,ID TEXT,hasSourceURI TEXT,distance REAL, hasLocation TEXT,alt REAL,lat REAL,long REAL)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370.0062370300293,"y":66.9937572479248,"wires":[["c0f6b17b.e14dd"]]},{"id":"c0f6b17b.e14dd","type":"sqlite","z":"71321c03.3303bc","mydb":"85a502a6.cd52b8","name":"","x":951.9996109008789,"y":290.89997005462646,"wires":[["5a129742.7ca03","f21b3d54.07a118"]]},{"id":"5a129742.7ca03","type":"debug","z":"71321c03.3303bc","name":"Output Message","active":true,"console":"false","complete":"payload","x":1213.998275756836,"y":103.68735599517822,"wires":[]},{"id":"d8769838.8c3da8","type":"inject","z":"71321c03.3303bc","name":"Drop Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96.99374389648438,"y":116.625,"wires":[["6a8ef960.ac681"]]},{"id":"cad78b55.e59e28","type":"inject","z":"71321c03.3303bc","name":"Insert Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75,"y":190.61251258850098,"wires":[["632e8313.3e3a6c","a883a3ca.490ec"]]},{"id":"d4571b2d.3a4fd8","type":"csv","z":"71321c03.3303bc","name":"Read CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"observation,procedure,type,observedProperty,result,floatValue,uom,samplingTime,inXSDDateTime,ID,hasSourceURI,distance,hasLocation,alt ,lat,long","x":437.99987411499023,"y":193.44999599456787,"wires":[["431e4ea6.0d315"]]},{"id":"632e8313.3e3a6c","type":"file in","z":"71321c03.3303bc","name":"Input File","filename":"C:\\Users\\karim\\Documents\\PhD\\SemantificationOnDemand\\ICSC2018\\Experiments\\oneHourExeData\\oneHourFile.csv","format":"utf8","x":279.99995040893555,"y":192.30001258850098,"wires":[["d4571b2d.3a4fd8"]]},{"id":"431e4ea6.0d315","type":"delay","z":"71321c03.3303bc","name":"1msg/2sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":308.0061340332031,"y":304.18119525909424,"wires":[["596325db.7672ac","55630147.45ce28"]]},{"id":"596325db.7672ac","type":"function","z":"71321c03.3303bc","name":"Streaming Insert Query","func":"if(context.global.timeSet===true)\n{\n    context.global.timeSet = false;\n}\nelse{\ncontext.global.currentTimestamp = Date.now();\n}\n//context.global.queryType=\"insertRecord\";\nvar newMsg = {\n\"topic\": \"INSERT INTO OBSERVATIONSTABLE VALUES ( \"  +\"'\"+msg.payload.observation+\"'\"+ \", \"+\"'\"+  msg.payload.procedure+\"'\"+ \", \"+\"'\"+  msg.payload.type+\"'\"+ \", \"+\"'\"+  msg.payload.observedProperty+\"'\"+ \", \" +\"'\"+  msg.payload.result+\"'\"+ \", \"+\"'\"+  msg.payload.floatValue+\"'\"+ \", \"+\"'\"+  msg.payload.uom+\"'\"+ \", \"+\"'\"+  msg.payload.samplingTime+\"'\"+ \", \"+\"'\"+   Date.now() +\"'\"+ \", \"+\"'\"+ msg.payload.ID +\"'\"+ \", \"+\"'\"+ msg.payload.hasSourceURI +\"'\"+ \", \"+\"'\"+ msg.payload.distance +\"'\"+ \", \"+\"'\"+ msg.payload.hasLocation +\"'\"+ \", \"+\"'\"+ msg.payload.alt+\"'\"+ \", \"+\"'\"+ msg.payload.lat+\"'\"+ \", \"+\"'\"+ msg.payload.long+\"'\" + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":517.9999694824219,"y":273.40625762939453,"wires":[["c0f6b17b.e14dd"]]},{"id":"2fcac0e7.c3b2c","type":"inject","z":"71321c03.3303bc","name":"View All Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.99374389648438,"y":442.61873149871826,"wires":[["c847205a.ac2a6"]]},{"id":"c847205a.ac2a6","type":"function","z":"71321c03.3303bc","name":"Select Query","func":"context.global.queryType=\"selectAllRecord\";\nvar newMsg = {\n\"topic\": \"SELECT * FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":458.00622940063477,"y":451.0000476837158,"wires":[["c0f6b17b.e14dd"]]},{"id":"c604c862.892218","type":"inject","z":"71321c03.3303bc","name":"Delete All Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115.00626373291016,"y":534.6187992095947,"wires":[["eae3ae7e.2b31d"]]},{"id":"eae3ae7e.2b31d","type":"function","z":"71321c03.3303bc","name":"Delete Query","func":"context.global.queryType=\"deleteAllRecord\";\nvar newMsg = {\n\"topic\": \" DELETE FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":453.9936294555664,"y":535.0001277923584,"wires":[["c0f6b17b.e14dd"]]},{"id":"55630147.45ce28","type":"function","z":"71321c03.3303bc","name":"Streaming Select Query","func":"context.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": \" SELECT * FROM OBSERVATIONSTABLE WHERE inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;","outputs":1,"noerr":0,"x":543.9935913085938,"y":347.9999990463257,"wires":[["c0f6b17b.e14dd"]]},{"id":"a883a3ca.490ec","type":"function","z":"71321c03.3303bc","name":"Set Start Time","func":"context.global.currentTimestamp = Date.now();\ncontext.global.timeSet = true;\nreturn msg;","outputs":1,"noerr":0,"x":87.9937515258789,"y":272.01250743865967,"wires":[["760fe03e.2ad0b"]]},{"id":"760fe03e.2ad0b","type":"debug","z":"71321c03.3303bc","name":"a","active":true,"console":"false","complete":"payload","x":64,"y":345.6937561035156,"wires":[]},{"id":"f21b3d54.07a118","type":"function","z":"71321c03.3303bc","name":"Data Retrieved","func":"switch(context.global.queryType)\n{\n    case \"sqlQuery\":\n    return [msg];\n}","outputs":1,"noerr":0,"x":1118.0061416625977,"y":427.0125274658203,"wires":[["5dd40962.5a7368","d73027f3.d750b8"]]},{"id":"5dd40962.5a7368","type":"debug","z":"71321c03.3303bc","name":"Data","active":true,"console":"false","complete":"payload","x":1324.999807357788,"y":429.7000274658203,"wires":[]},{"id":"f932370f.922c68","type":"websocket in","z":"71321c03.3303bc","name":"fullSemantification-In","server":"c8e05e40.ab5cc8","client":"","x":945.9935989379883,"y":519.9499826431274,"wires":[["d73027f3.d750b8"]]},{"id":"d73027f3.d750b8","type":"websocket out","z":"71321c03.3303bc","name":"fullSemantification-Out","server":"c8e05e40.ab5cc8","client":"","x":1255.9936141967773,"y":542.2500534057617,"wires":[]},{"id":"85a502a6.cd52b8","type":"sqlitedb","z":"71321c03.3303bc","db":"/sqliteDB"},{"id":"c8e05e40.ab5cc8","type":"websocket-listener","z":"","path":"fullSemantification","wholemsg":"false"}]
