OnDemandSemantification.json
[{"id":"b5f6cf29.9750e","type":"function","z":"e28b7068.c2f748","name":"write create table query","func":"context.global.queryType=\"createTable\";\nvar newMsg = {\n\"topic\": \"CREATE TABLE OBSERVATIONSTABLE(observation TEXT PRIMARY KEY NOT NULL,procedure TEXT,type TEXT,observedProperty TEXT,result TEXT,floatValue REAL,uom TEXT,samplingTime TEXT,inXSDDateTime NUMERIC,ID TEXT,hasSourceURI TEXT,distance REAL, hasLocation TEXT,alt REAL,lat REAL,long REAL)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":489.1000518798828,"y":26.20001792907715,"wires":[["ee02b408.f9d078"]]},{"id":"91910d6c.757ed","type":"function","z":"e28b7068.c2f748","name":"write getEndTime query","func":"if(context.global.queryType!=\"stopQuery\")\n{\ncontext.global.queryType=\"getEndTime\";\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n\n};\nreturn [newMsg,null];\n}\nelse\n{\n    var newMsg2 ={payload:\"Query Stopped\"};\n    return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":1513.2998275756836,"y":141.9641342163086,"wires":[["ee02b408.f9d078"],["28c10c7a.de6e4c"]]},{"id":"c7fc0169.ea97","type":"function","z":"e28b7068.c2f748","name":"Observations","func":"//switch(context.global.queryType)\n//{\n  //  case \"sqlQuery\":\n//    return [msg];\n//}\n\nif(context.global.sqlString!==null)\nreturn [msg];","outputs":1,"noerr":0,"x":818.0059051513672,"y":682.9438052177429,"wires":[["d8de5f05.474be8","ab77866a.f359e"]]},{"id":"ee02b408.f9d078","type":"sqlite","z":"e28b7068.c2f748","mydb":"320042f5.f1f696","name":"sqliteDB","x":792.0999050140381,"y":342.599977016449,"wires":[["c7fc0169.ea97","e77df983.dd48e"]]},{"id":"d8de5f05.474be8","type":"debug","z":"e28b7068.c2f748","name":"Selected Observations","active":true,"console":"false","complete":"payload","x":1080.012149810791,"y":698.6500492095947,"wires":[]},{"id":"e77df983.dd48e","type":"function","z":"e28b7068.c2f748","name":"test","func":"switch(context.global.queryType)\n{\n    case \"insertRecord\":\n    return [msg, null,null,null,null,null,null,null,null,null,null];\n    \n    case \"getStartTime\":\n        var msg1;\n        msg1={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n        context.global.startTime=msg.payload[0].inXSDDateTime;\n    return [null,msg1,null,null,null,null,null,null,null,null];\n     \n    case \"getEndTime\":\n        if(context.global.stop!=\"true\")\n        {\n        var msg2;\n        msg2={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n        context.global.endTime=msg.payload[0].inXSDDateTime;\n    return [null,null,msg2,null,null,null,null,null,null,null,null];}\n    else{\n       var msg4;\n        msg4={payload:\"Stop Query\"};  \n    return [null,null,null,null,null,null,null,null,null,null,msg4]; \n    }\n    break;\n    \n    case \"streamingQuery\":\n        if(context.global.stop!=\"true\")\n        {\n        context.global.startTime=context.global.endTime;\n        var msg3;\n        msg3={payload:\"loop\"};\n    return [null,null,null,msg,null,null,null,null,null,msg3,null];}\n    else{\n       var msg4;\n        msg4={payload:\"Stop Query\"};  \n    return [null,null,null,null,null,null,null,null,null,null,msg4]; \n    }\n    break;\n    \n    case \"createTable\":\n    return [null,null,null,null,msg,null,null,null,null,null,null];\n    \n    case \"selectAllRecord\":\n    return [null,null,null,null,null,msg,null,null,null,null,null];\n    \n    case \"dropTable\":\n    return [null,null,null,null,null,null,msg,null,null,null,null];\n   \n    case \"deleteAllRecord\":\n    return [null,null,null,null,null,null,null,msg,null,null,null];\n    \n    case \"selectLastRecord\":\n    return [null,null,null,null,null,null,null,null,msg,null,null];\n    \n    case \"stopQuery\":\n        var msg4;\n        msg4={payload:\"Stop Query\"};  \n    return [null,null,null,null,null,null,null,null,null,null,msg4];\n    \n    \n}","outputs":"11","noerr":0,"x":973.5775318145752,"y":333.0839309692383,"wires":[["64be142b.64a9e4"],["4ca181da.52085"],["886aa5e2.35cc1"],["ced33525.11e3f8"],["30aabe9e.7a135a"],["ecfd478a.5b1058"],["8ce1ea57.46f"],["d6ab56c9.04c94"],["6dfcaff6.444768"],["4ca181da.52085"],["34801ed5.e18022"]]},{"id":"8c40c4a4.5b6dc8","type":"function","z":"e28b7068.c2f748","name":"write insert query","func":"context.global.currentTimestamp = Date.now();\ncontext.global.queryType=\"insertRecord\";\nvar newMsg = {\n\"topic\": \"INSERT INTO OBSERVATIONSTABLE VALUES ( \"  +\"'\"+msg.payload.observation+\"'\"+ \", \"+\"'\"+  msg.payload.procedure+\"'\"+ \", \"+\"'\"+  msg.payload.type+\"'\"+ \", \"+\"'\"+  msg.payload.observedProperty+\"'\"+ \", \" +\"'\"+  msg.payload.result+\"'\"+ \", \"+\"'\"+  msg.payload.floatValue+\"'\"+ \", \"+\"'\"+  msg.payload.uom+\"'\"+ \", \"+\"'\"+  msg.payload.samplingTime+\"'\"+ \", \"+\"'\"+   Date.now() +\"'\"+ \", \"+\"'\"+ msg.payload.ID +\"'\"+ \", \"+\"'\"+ msg.payload.hasSourceURI +\"'\"+ \", \"+\"'\"+ msg.payload.distance +\"'\"+ \", \"+\"'\"+ msg.payload.hasLocation +\"'\"+ \", \"+\"'\"+ msg.payload.alt+\"'\"+ \", \"+\"'\"+ msg.payload.lat+\"'\"+ \", \"+\"'\"+ msg.payload.long+\"'\" + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":503.1002731323242,"y":135.2000904083252,"wires":[["ee02b408.f9d078"]]},{"id":"64dde4df.e0353c","type":"function","z":"e28b7068.c2f748","name":"write getStartTime query","func":"context.global.queryType=\"getStartTime\";\ncontext.global.stop=\"false\"\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":443.10009002685547,"y":361.2001156806946,"wires":[["ee02b408.f9d078"]]},{"id":"886aa5e2.35cc1","type":"function","z":"e28b7068.c2f748","name":"write streamingQuery","func":"if(context.global.queryType!=\"stopQuery\")\n{\n    context.global.queryType=\"streamingQuery\";\n    var newMsg = {\n    \"topic\": context.global.query+\" AND a0.inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n    };\nreturn [newMsg,null];  \n}\nelse\n{\n    var newMsg2 ={payload:\"Query Stopped\"};\n    return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":980.0988464355469,"y":109.60007667541504,"wires":[["ee02b408.f9d078"],["28c10c7a.de6e4c"]]},{"id":"dcd16046.37d1e","type":"function","z":"e28b7068.c2f748","name":"write select all records query","func":"context.global.queryType=\"selectAllRecord\";\nvar newMsg = {\n\"topic\": \"SELECT * FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":429.1001205444336,"y":234.2000699043274,"wires":[["ee02b408.f9d078"]]},{"id":"9a8d85de.ba23e","type":"function","z":"e28b7068.c2f748","name":"write drop table query","func":"context.global.queryType=\"dropTable\";\nvar newMsg = {\n\"topic\": \"DROP TABLE OBSERVATIONSTABLE \"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":454.1667251586914,"y":79.26671552658081,"wires":[["ee02b408.f9d078"]]},{"id":"e4227564.66659","type":"function","z":"e28b7068.c2f748","name":"write delete all records query","func":"context.global.queryType=\"deleteAllRecord\";\nvar newMsg = {\n\"topic\": \" DELETE FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":428.1667251586914,"y":276.266725063324,"wires":[["ee02b408.f9d078"]]},{"id":"59a4d55b.1c1d74","type":"function","z":"e28b7068.c2f748","name":"write select last record query","func":"context.global.queryType=\"selectLastRecord\";\nvar newMsg = {\n\"topic\": \" SELECT * FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":434.1666564941406,"y":321.26667699217796,"wires":[["ee02b408.f9d078"]]},{"id":"2f21ed17.ed196a","type":"function","z":"e28b7068.c2f748","name":"writing test streaming","func":"context.global.queryType=\"streamingQuery\";\ncontext.global.stop=\"false\";\nvar newMsg = {\n\"topic\": context.global.query+\" WHERE inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":446.49987411499023,"y":469.9686303138733,"wires":[["ee02b408.f9d078"]]},{"id":"743a9ed.90f34e","type":"function","z":"e28b7068.c2f748","name":"Execute SQL Query","func":"//context.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;","outputs":1,"noerr":0,"x":559.999870300293,"y":623.9500098228455,"wires":[["ee02b408.f9d078","3d027834.ff7d98"]]},{"id":"5af2bd58.8482fc","type":"function","z":"e28b7068.c2f748","name":"Streaming SQLQuery","func":"if(context.global.sqlString!==null)\n{\ncontext.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;\n}\nelse\nreturn null;","outputs":1,"noerr":0,"x":880.9996032714844,"y":571.9437789916992,"wires":[["ee02b408.f9d078"]]},{"id":"64be142b.64a9e4","type":"debug","z":"e28b7068.c2f748","name":"insertRecordOutput","active":true,"console":"false","complete":"payload","x":1276.7591743469238,"y":113.2974910736084,"wires":[]},{"id":"4ca181da.52085","type":"function","z":"e28b7068.c2f748","name":"Open Window","func":"if(context.global.queryType!=\"stopQuery\")\n{\nsetTimeout(function() {\n    node.send(msg);\n}, context.global.window);}\nreturn null;","outputs":1,"noerr":0,"x":1265.578239440918,"y":156.31615447998047,"wires":[["91910d6c.757ed"]]},{"id":"ced33525.11e3f8","type":"function","z":"e28b7068.c2f748","name":"StreamingResult","func":"//msg.payload.forEach(function(element) {\n  //  node.send({\"payload\": element});\n//});\ncontext.global.value= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1498.5059356689453,"y":186.76239395141602,"wires":[["e285e85b.ec094","88654885.8c37"]]},{"id":"30aabe9e.7a135a","type":"debug","z":"e28b7068.c2f748","name":"createTableOutput","active":true,"console":"false","complete":"payload","x":1224.1669311523438,"y":253.6667218208313,"wires":[]},{"id":"ecfd478a.5b1058","type":"debug","z":"e28b7068.c2f748","name":"selectAllRecordOutput","active":true,"console":"false","complete":"payload","x":1235.1000061035156,"y":289.40005922317505,"wires":[]},{"id":"8ce1ea57.46f","type":"debug","z":"e28b7068.c2f748","name":"dropTableOutput","active":true,"console":"false","complete":"payload","x":1217.1669311523438,"y":325.00012826919556,"wires":[]},{"id":"d6ab56c9.04c94","type":"debug","z":"e28b7068.c2f748","name":"deleteAllRecordOutput","active":true,"console":"false","complete":"payload","x":1237.1669311523438,"y":365.00009965896606,"wires":[]},{"id":"6dfcaff6.444768","type":"function","z":"e28b7068.c2f748","name":"LastRecord","func":" //msg.payload = JSON.stringify(msg.payload);\n context.global.value= msg.payload;\n//msg.payload={key:\"value\"};\n//msg.payload=JSON.stringify(msg.payload[0]);\n// msg.payload=msg.payload[0];\n//var newMsg = { payload: msg.payload[0] };\n// var output;\n//output= \"{observation:\\\"\"+msg.payload.observation+\n//\"\\\"}\";\n//,procedure:\\\"\"+msg.payload.procedure+\n//\"\\\", type:\\\"\"+msg.payload.type+\n//\"\\\",observedProperty:\\\"\"+msg.payload.observedProperty+\n//\"\\\",result:\\\"\"+msg.payload.result+\n//\"\\\",floatValue:\\\"\"+msg.payload.floatValue+\n//\"\\\",uom:\\\"\"+msg.payload.uom+\"}\";\n//\"fahrenheit\"\n//payload.samplingTime: \"Instant_2003_3_31_2_05_00\"\n//payload.inXSDDateTime: \"3/31/2003 2:05\"\n//payload.alt: 5350\n//payload.lat: 40.82944\n//payload.long: -111.88222\n//payload.hasLocation: \"http://sws.geonames.org/5773517/\"\n//msg.payload=output\n//msg.payload =\"Farah Karim\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1223.4996032714844,"y":404.96872901916504,"wires":[["d857b373.39edc","7eb39164.635bd8"]]},{"id":"34801ed5.e18022","type":"debug","z":"e28b7068.c2f748","name":"QueryStoped","active":true,"console":"false","complete":"payload","x":1220.5777282714844,"y":450.01168870925903,"wires":[]},{"id":"bf54b7ec.3b8e7","type":"function","z":"e28b7068.c2f748","name":"write stop stream exe. query","func":"context.global.queryType=\"stopQuery\";\ncontext.global.stop=\"true\";\nreturn msg;","outputs":1,"noerr":0,"x":429.51244354248047,"y":509.9750237464905,"wires":[["e77df983.dd48e"]]},{"id":"9db643b9.ed123","type":"delay","z":"e28b7068.c2f748","name":"1msg/2sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440.0000534057617,"y":186.5999870300293,"wires":[["5af2bd58.8482fc","8c40c4a4.5b6dc8"]]},{"id":"e93a95d9.0f601","type":"function","z":"e28b7068.c2f748","name":"split function","func":"var str=msg.payload.split(\"window\");\ncontext.global.query =str[0];\ncontext.global.window = str[1];\nreturn msg;","outputs":1,"noerr":0,"x":276.1000747680664,"y":442.8001413345337,"wires":[["64dde4df.e0353c"]]},{"id":"28c10c7a.de6e4c","type":"debug","z":"e28b7068.c2f748","name":"QueryStopped1","active":true,"console":"false","complete":"payload","x":1560.9775695800781,"y":468.81258392333984,"wires":[]},{"id":"f443970.cef3d68","type":"inject","z":"e28b7068.c2f748","name":"Create Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96.10002136230469,"y":20,"wires":[["b5f6cf29.9750e"]]},{"id":"2982c320.2ae1a4","type":"inject","z":"e28b7068.c2f748","name":"View Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80.10001373291016,"y":229.00016689300537,"wires":[["dcd16046.37d1e"]]},{"id":"d02e438b.0f1d8","type":"inject","z":"e28b7068.c2f748","name":"Drop Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75.16663360595703,"y":96.46665954589844,"wires":[["9a8d85de.ba23e"]]},{"id":"38602d7f.d6cd0a","type":"inject","z":"e28b7068.c2f748","name":"Delete All Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":79.99999618530273,"y":275.0001525878906,"wires":[["e4227564.66659"]]},{"id":"733a5ce5.d3d2fc","type":"inject","z":"e28b7068.c2f748","name":"Select Last Record","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":79.10011291503906,"y":318.0000743865967,"wires":[["59a4d55b.1c1d74"]]},{"id":"77dbb03a.1e1c3","type":"inject","z":"e28b7068.c2f748","name":"test Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.50624084472656,"y":468.58747959136963,"wires":[["2f21ed17.ed196a"]]},{"id":"9187088b.e8933","type":"function","z":"e28b7068.c2f748","name":"Get SQL Query & Time","func":"if(context.global.currentTimestamp===null)\n{context.global.currentTimestamp = Date.now();}\ncontext.global.sqlString = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":281.00601959228516,"y":589.9499368667603,"wires":[["743a9ed.90f34e"]]},{"id":"3d027834.ff7d98","type":"debug","z":"e28b7068.c2f748","name":"SQLQueryString","active":true,"console":"false","complete":"payload","x":567.0122604370117,"y":714.6500768661499,"wires":[]},{"id":"e285e85b.ec094","type":"debug","z":"e28b7068.c2f748","name":"StreaminOutput","active":true,"console":"false","complete":"payload","x":1481.5060119628906,"y":554.6562504768372,"wires":[]},{"id":"88654885.8c37","type":"function","z":"e28b7068.c2f748","name":"testFunction","func":"msg.payload=context.global.value;\nreturn msg;","outputs":1,"noerr":0,"x":1618.7936706542969,"y":428.77493381500244,"wires":[["d7275655.5b209"]]},{"id":"d857b373.39edc","type":"debug","z":"e28b7068.c2f748","name":"selectLastRecordOutput","active":true,"console":"false","complete":"payload","x":1250.1664581298828,"y":492.00002002716064,"wires":[]},{"id":"7eb39164.635bd8","type":"debug","z":"e28b7068.c2f748","name":"LastRecordOutput","active":true,"console":"false","complete":"payload","x":1215.287239074707,"y":582.9624919891357,"wires":[]},{"id":"df68faeb.e9232","type":"inject","z":"e28b7068.c2f748","name":"stop Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92.49994659423828,"y":510.5750198364258,"wires":[["bf54b7ec.3b8e7"]]},{"id":"b0138075.bc1c48","type":"csv","z":"e28b7068.c2f748","name":"Read CSV","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"observation,procedure,type,observedProperty,result,floatValue,uom,samplingTime,inXSDDateTime,ID,hasSourceURI,distance,hasLocation,alt ,lat,long","x":256.0000762939453,"y":163.00004959106445,"wires":[["9db643b9.ed123"]]},{"id":"3f276cde.853104","type":"http request","z":"e28b7068.c2f748","name":"GET Request","method":"GET","ret":"txt","url":"http://localhost:8080/","tls":"","x":228.0999755859375,"y":403.8001432418823,"wires":[["e93a95d9.0f601","b58b8e85.aef39"]]},{"id":"d7275655.5b209","type":"websocket out","z":"e28b7068.c2f748","name":"","server":"4101c4be.37d13c","client":"","x":1567.7869338989258,"y":738.0061280727386,"wires":[]},{"id":"25aab663.5f684a","type":"websocket in","z":"e28b7068.c2f748","name":"","server":"4101c4be.37d13c","client":"","x":1574.7935791015625,"y":355.699914932251,"wires":[["88654885.8c37","184412d9.20a785"]]},{"id":"29531db.2b57862","type":"file in","z":"e28b7068.c2f748","name":"Read a File","filename":"C:\\Users\\karim\\Documents\\PhD\\SemantificationOnDemand\\ICSC2018\\Experiments\\oneHourExeData\\oneHourFile.csv","format":"utf8","x":266.0000915527344,"y":107.00009441375732,"wires":[["b0138075.bc1c48"]]},{"id":"ab32fc23.21e038","type":"inject","z":"e28b7068.c2f748","name":"Start Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75.0999984741211,"y":363.0000228881836,"wires":[["3f276cde.853104"]]},{"id":"b58b8e85.aef39","type":"debug","z":"e28b7068.c2f748","name":"display Get Request","active":true,"console":"false","complete":"payload","x":456.5060615539551,"y":405.4686589241028,"wires":[]},{"id":"184412d9.20a785","type":"debug","z":"e28b7068.c2f748","name":"testFunctionOutput","active":true,"console":"false","complete":"payload","x":1539.7933959960938,"y":803.4688835144043,"wires":[]},{"id":"a0d977b6.0802e8","type":"inject","z":"e28b7068.c2f748","name":"Insert Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":55,"y":98.20013236999512,"wires":[["29531db.2b57862","759a2a2.2ba9154"]]},{"id":"b8604968.2376d","type":"websocket in","z":"e28b7068.c2f748","name":"observations In","server":"66fbe52c.327f74","client":"","x":741.0060653686523,"y":759.881196975708,"wires":[["ab77866a.f359e"]]},{"id":"ab77866a.f359e","type":"websocket out","z":"e28b7068.c2f748","name":"observations Out","server":"66fbe52c.327f74","client":"","x":1060.0059204101562,"y":787.187647819519,"wires":[]},{"id":"9f4a154a.75bcf","type":"websocket in","z":"e28b7068.c2f748","name":"sql In","server":"8425f752.689ae","client":"","x":93.99993133544922,"y":760.8812313079834,"wires":[["49f6b6a8.b841e8","9187088b.e8933"]]},{"id":"49f6b6a8.b841e8","type":"websocket out","z":"e28b7068.c2f748","name":"sql Out","server":"8425f752.689ae","client":"","x":341.01241302490234,"y":773.1999568939209,"wires":[]},{"id":"759a2a2.2ba9154","type":"function","z":"e28b7068.c2f748","name":"Set global sqlString","func":"context.global.sqlString=null;\nreturn msg;","outputs":1,"noerr":0,"x":73.01244354248047,"y":182.93747520446777,"wires":[["69cc8e97.716a9"]]},{"id":"69cc8e97.716a9","type":"debug","z":"e28b7068.c2f748","name":"b","active":true,"console":"false","complete":"payload","x":225.0124282836914,"y":208.6437473297119,"wires":[]},{"id":"320042f5.f1f696","type":"sqlitedb","z":"e28b7068.c2f748","db":"/sqliteDB"},{"id":"4101c4be.37d13c","type":"websocket-listener","z":"","path":"test3","wholemsg":"false"},{"id":"66fbe52c.327f74","type":"websocket-listener","z":"","path":"test2","wholemsg":"false"},{"id":"8425f752.689ae","type":"websocket-listener","z":"","path":"mywebsocket","wholemsg":"false"}]
