OnDemandSemantification.json
[{"id":"c9e470f3.e8459","type":"function","z":"9e816c05.9fd9d8","name":"write create table query","func":"context.global.queryType=\"createTable\";\nvar newMsg = {\n\"topic\": \"CREATE TABLE OBSERVATIONSTABLE(observation TEXT PRIMARY KEY NOT NULL,procedure TEXT,type TEXT,observedProperty TEXT,result TEXT,floatValue REAL,uom TEXT,samplingTime TEXT,inXSDDateTime NUMERIC,ID TEXT,hasSourceURI TEXT,distance REAL, hasLocation TEXT,alt REAL,lat REAL,long REAL)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":519.1000518798828,"y":33,"wires":[["eaf4e167.851b6"]]},{"id":"832b405a.b6428","type":"inject","z":"9e816c05.9fd9d8","name":"Create Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.10002136230469,"y":26.79998207092285,"wires":[["c9e470f3.e8459"]]},{"id":"e953c44c.a21c58","type":"function","z":"9e816c05.9fd9d8","name":"write getEndTime query","func":"if(context.global.queryType!=\"stopQuery\")\n{\ncontext.global.queryType=\"getEndTime\";\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n\n};\nreturn [newMsg,null];\n}\nelse\n{\n var newMsg2 ={payload:\"Query Stopped\"};\n return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":1543.2998275756836,"y":148.76411628723145,"wires":[["eaf4e167.851b6"],["43c3eba2.0d4cfc"]]},{"id":"f8ef7fcb.40e1e8","type":"function","z":"9e816c05.9fd9d8","name":"Observations","func":"//switch(context.global.queryType)\n//{\n // case \"sqlQuery\":\n// return [msg];\n//}\n\nif(context.global.sqlString!==null)\nreturn [msg];","outputs":1,"noerr":0,"x":848.0059051513672,"y":689.7437872886658,"wires":[["15ebfda6.10cd92","263aa52e.33245a"]]},{"id":"eaf4e167.851b6","type":"sqlite","z":"9e816c05.9fd9d8","mydb":"f27817d.bb9f168","name":"sqliteDB","x":822.0999050140381,"y":349.3999590873718,"wires":[["f8ef7fcb.40e1e8","b82fe9dd.ffb898"]]},{"id":"15ebfda6.10cd92","type":"debug","z":"9e816c05.9fd9d8","name":"Selected Observations","active":true,"console":"false","complete":"payload","x":1110.012149810791,"y":705.4500312805176,"wires":[]},{"id":"b82fe9dd.ffb898","type":"function","z":"9e816c05.9fd9d8","name":"test","func":"switch(context.global.queryType)\n{\n case \"insertRecord\":\n return [msg, null,null,null,null,null,null,null,null,null,null];\n \n case \"getStartTime\":\n var msg1;\n msg1={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n context.global.startTime=msg.payload[0].inXSDDateTime;\n return [null,msg1,null,null,null,null,null,null,null,null];\n \n case \"getEndTime\":\n if(context.global.stop!=\"true\")\n {\n var msg2;\n msg2={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n context.global.endTime=msg.payload[0].inXSDDateTime;\n return [null,null,msg2,null,null,null,null,null,null,null,null];}\n else{\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4]; \n }\n break;\n \n case \"streamingQuery\":\n if(context.global.stop!=\"true\")\n {\n context.global.startTime=context.global.endTime;\n var msg3;\n msg3={payload:\"loop\"};\n return [null,null,null,msg,null,null,null,null,null,msg3,null];}\n else{\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4]; \n }\n break;\n \n case \"createTable\":\n return [null,null,null,null,msg,null,null,null,null,null,null];\n \n case \"selectAllRecord\":\n return [null,null,null,null,null,msg,null,null,null,null,null];\n \n case \"dropTable\":\n return [null,null,null,null,null,null,msg,null,null,null,null];\n \n case \"deleteAllRecord\":\n return [null,null,null,null,null,null,null,msg,null,null,null];\n \n case \"selectLastRecord\":\n return [null,null,null,null,null,null,null,null,msg,null,null];\n \n case \"stopQuery\":\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4];\n \n \n}","outputs":"11","noerr":0,"x":1003.5775318145752,"y":339.88391304016113,"wires":[["2c15522d.e252e6"],["8d2ed911.42c0f8"],["b94390d6.54d558"],["59542de2.457314"],["55d97bc0.3993a4"],["edb150f6.0f76a"],["b85c2db1.6f67d"],["de591f61.46b218"],["4c2caed5.230638"],["8d2ed911.42c0f8"],["a313c357.694218"]]},{"id":"4d1d30ff.840a","type":"function","z":"9e816c05.9fd9d8","name":"write insert query","func":"context.global.currentTimestamp = Date.now();\ncontext.global.queryType=\"insertRecord\";\nvar newMsg = {\n\"topic\": \"INSERT INTO OBSERVATIONSTABLE VALUES ( \" +\"'\"+msg.payload.observation+\"'\"+ \", \"+\"'\"+ msg.payload.procedure+\"'\"+ \", \"+\"'\"+ msg.payload.type+\"'\"+ \", \"+\"'\"+ msg.payload.observedProperty+\"'\"+ \", \" +\"'\"+ msg.payload.result+\"'\"+ \", \"+\"'\"+ msg.payload.floatValue+\"'\"+ \", \"+\"'\"+ msg.payload.uom+\"'\"+ \", \"+\"'\"+ msg.payload.samplingTime+\"'\"+ \", \"+\"'\"+ Date.now() +\"'\"+ \", \"+\"'\"+ msg.payload.ID +\"'\"+ \", \"+\"'\"+ msg.payload.hasSourceURI +\"'\"+ \", \"+\"'\"+ msg.payload.distance +\"'\"+ \", \"+\"'\"+ msg.payload.hasLocation +\"'\"+ \", \"+\"'\"+ msg.payload.alt+\"'\"+ \", \"+\"'\"+ msg.payload.lat+\"'\"+ \", \"+\"'\"+ msg.payload.long+\"'\" + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":533.1002731323242,"y":142.00007247924805,"wires":[["eaf4e167.851b6"]]},{"id":"847f64c4.a44418","type":"function","z":"9e816c05.9fd9d8","name":"write getStartTime query","func":"context.global.queryType=\"getStartTime\";\ncontext.global.stop=\"false\"\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":473.10009002685547,"y":368.00009775161743,"wires":[["eaf4e167.851b6"]]},{"id":"b94390d6.54d558","type":"function","z":"9e816c05.9fd9d8","name":"write streamingQuery","func":"if(context.global.queryType!=\"stopQuery\")\n{\n context.global.queryType=\"streamingQuery\";\n var newMsg = {\n \"topic\": context.global.query+\" AND a0.inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n };\nreturn [newMsg,null]; \n}\nelse\n{\n var newMsg2 ={payload:\"Query Stopped\"};\n return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":1010.098876953125,"y":42.400054931640625,"wires":[["eaf4e167.851b6"],["43c3eba2.0d4cfc"]]},{"id":"8ff399b6.bf37f8","type":"function","z":"9e816c05.9fd9d8","name":"write select all records query","func":"context.global.queryType=\"selectAllRecord\";\nvar newMsg = {\n\"topic\": \"SELECT * FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":459.1001205444336,"y":241.00005197525024,"wires":[["eaf4e167.851b6"]]},{"id":"8b43991d.5aa51","type":"function","z":"9e816c05.9fd9d8","name":"write drop table query","func":"context.global.queryType=\"dropTable\";\nvar newMsg = {\n\"topic\": \"DROP TABLE OBSERVATIONSTABLE \"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":484.1667251586914,"y":86.06669759750366,"wires":[["eaf4e167.851b6"]]},{"id":"2a5ea898.7c7a6","type":"function","z":"9e816c05.9fd9d8","name":"write delete all records query","func":"context.global.queryType=\"deleteAllRecord\";\nvar newMsg = {\n\"topic\": \" DELETE FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":458.1667251586914,"y":283.0667071342468,"wires":[["eaf4e167.851b6"]]},{"id":"4e2db8c5.d8b0e8","type":"function","z":"9e816c05.9fd9d8","name":"write select last record query","func":"context.global.queryType=\"selectLastRecord\";\nvar newMsg = {\n\"topic\": \" SELECT * FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":464.1666564941406,"y":328.0666590631008,"wires":[["eaf4e167.851b6"]]},{"id":"5268b626.dbe18","type":"function","z":"9e816c05.9fd9d8","name":"writing test streaming","func":"context.global.queryType=\"streamingQuery\";\ncontext.global.stop=\"false\";\nvar newMsg = {\n\"topic\": context.global.query+\" WHERE inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":476.49987411499023,"y":476.76861238479614,"wires":[["eaf4e167.851b6"]]},{"id":"8065691e.b16d58","type":"function","z":"9e816c05.9fd9d8","name":"Execute SQL Query","func":"//context.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;","outputs":1,"noerr":0,"x":589.999870300293,"y":630.7499918937683,"wires":[["eaf4e167.851b6","9aa5c308.bb48f8"]]},{"id":"19ae7335.3933a5","type":"function","z":"9e816c05.9fd9d8","name":"Streaming SQLQuery","func":"if(context.global.sqlString!==null)\n{\ncontext.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;\n}\nelse\nreturn null;","outputs":1,"noerr":0,"x":910.9996032714844,"y":578.7437610626221,"wires":[["eaf4e167.851b6"]]},{"id":"2c15522d.e252e6","type":"debug","z":"9e816c05.9fd9d8","name":"insertRecordOutput","active":true,"console":"false","complete":"payload","x":1306.7591743469238,"y":120.09747314453125,"wires":[]},{"id":"8d2ed911.42c0f8","type":"function","z":"9e816c05.9fd9d8","name":"Open Window","func":"if(context.global.queryType!=\"stopQuery\")\n{\nsetTimeout(function() {\n node.send(msg);\n}, context.global.window);}\nreturn null;","outputs":1,"noerr":0,"x":1295.578239440918,"y":163.11613655090332,"wires":[["e953c44c.a21c58"]]},{"id":"59542de2.457314","type":"function","z":"9e816c05.9fd9d8","name":"StreamingResult","func":"//msg.payload.forEach(function(element) {\n // node.send({\"payload\": element});\n//});\ncontext.global.value= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1528.5059356689453,"y":193.56237602233887,"wires":[["31466c90.8574a4","1a755fe9.8caff8"]]},{"id":"55d97bc0.3993a4","type":"debug","z":"9e816c05.9fd9d8","name":"createTableOutput","active":true,"console":"false","complete":"payload","x":1254.1669311523438,"y":260.46670389175415,"wires":[]},{"id":"edb150f6.0f76a","type":"debug","z":"9e816c05.9fd9d8","name":"selectAllRecordOutput","active":true,"console":"false","complete":"payload","x":1265.1000061035156,"y":296.2000412940979,"wires":[]},{"id":"b85c2db1.6f67d","type":"debug","z":"9e816c05.9fd9d8","name":"dropTableOutput","active":true,"console":"false","complete":"payload","x":1247.1669311523438,"y":331.8001103401184,"wires":[]},{"id":"de591f61.46b218","type":"debug","z":"9e816c05.9fd9d8","name":"deleteAllRecordOutput","active":true,"console":"false","complete":"payload","x":1267.1669311523438,"y":371.8000817298889,"wires":[]},{"id":"4c2caed5.230638","type":"function","z":"9e816c05.9fd9d8","name":"LastRecord","func":" //msg.payload = JSON.stringify(msg.payload);\n context.global.value= msg.payload;\n//msg.payload={key:\"value\"};\n//msg.payload=JSON.stringify(msg.payload[0]);\n// msg.payload=msg.payload[0];\n//var newMsg = { payload: msg.payload[0] };\n// var output;\n//output= \"{observation:\\\"\"+msg.payload.observation+\n//\"\\\"}\";\n//,procedure:\\\"\"+msg.payload.procedure+\n//\"\\\", type:\\\"\"+msg.payload.type+\n//\"\\\",observedProperty:\\\"\"+msg.payload.observedProperty+\n//\"\\\",result:\\\"\"+msg.payload.result+\n//\"\\\",floatValue:\\\"\"+msg.payload.floatValue+\n//\"\\\",uom:\\\"\"+msg.payload.uom+\"}\";\n//\"fahrenheit\"\n//payload.samplingTime: \"Instant_2003_3_31_2_05_00\"\n//payload.inXSDDateTime: \"3/31/2003 2:05\"\n//payload.alt: 5350\n//payload.lat: 40.82944\n//payload.long: -111.88222\n//payload.hasLocation: \"http://sws.geonames.org/5773517/\"\n//msg.payload=output\n//msg.payload =\"Farah Karim\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1253.4996032714844,"y":411.7687110900879,"wires":[["afe58b96.c95f08","a1ed4feb.77805"]]},{"id":"a313c357.694218","type":"debug","z":"9e816c05.9fd9d8","name":"QueryStoped","active":true,"console":"false","complete":"payload","x":1065.5777587890625,"y":459.8116455078125,"wires":[]},{"id":"aba135fc.e7db68","type":"function","z":"9e816c05.9fd9d8","name":"write stop stream exe. query","func":"context.global.queryType=\"stopQuery\";\ncontext.global.stop=\"true\";\nreturn msg;","outputs":1,"noerr":0,"x":459.51244354248047,"y":516.7750058174133,"wires":[["b82fe9dd.ffb898"]]},{"id":"8de8d7d7.196a68","type":"delay","z":"9e816c05.9fd9d8","name":"1msg/2sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470.0000534057617,"y":193.39996910095215,"wires":[["19ae7335.3933a5","4d1d30ff.840a"]]},{"id":"e552264a.466728","type":"function","z":"9e816c05.9fd9d8","name":"split function","func":"var str=msg.payload.split(\"window\");\ncontext.global.query =str[0];\ncontext.global.window = str[1];\nreturn msg;","outputs":1,"noerr":0,"x":306.1000747680664,"y":449.60012340545654,"wires":[["847f64c4.a44418"]]},{"id":"43c3eba2.0d4cfc","type":"debug","z":"9e816c05.9fd9d8","name":"QueryStopped1","active":true,"console":"false","complete":"payload","x":1590.9775695800781,"y":475.6125659942627,"wires":[]},{"id":"905134ad.70cd68","type":"inject","z":"9e816c05.9fd9d8","name":"View Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.10001373291016,"y":235.80014896392822,"wires":[["8ff399b6.bf37f8"]]},{"id":"1f9bd359.c02b15","type":"inject","z":"9e816c05.9fd9d8","name":"Drop Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.1666259765625,"y":78.26663208007812,"wires":[["8b43991d.5aa51"]]},{"id":"3b87c905.d0beb6","type":"inject","z":"9e816c05.9fd9d8","name":"Delete All Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.99999618530273,"y":281.8001346588135,"wires":[["2a5ea898.7c7a6"]]},{"id":"f766f91f.13498","type":"inject","z":"9e816c05.9fd9d8","name":"Select Last Record","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.10011291503906,"y":324.80005645751953,"wires":[["4e2db8c5.d8b0e8"]]},{"id":"39a49e75.34de6a","type":"inject","z":"9e816c05.9fd9d8","name":"test Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124.50624084472656,"y":475.3874616622925,"wires":[["5268b626.dbe18"]]},{"id":"91b9344f.d284c","type":"function","z":"9e816c05.9fd9d8","name":"Get SQL Query & Time","func":"if(context.global.currentTimestamp===null)\n{context.global.currentTimestamp = Date.now();}\ncontext.global.sqlString = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":311.00601959228516,"y":596.7499189376831,"wires":[["8065691e.b16d58"]]},{"id":"9aa5c308.bb48f8","type":"debug","z":"9e816c05.9fd9d8","name":"SQLQueryString","active":true,"console":"false","complete":"payload","x":597.0122604370117,"y":721.4500589370728,"wires":[]},{"id":"31466c90.8574a4","type":"debug","z":"9e816c05.9fd9d8","name":"StreaminOutput","active":true,"console":"false","complete":"payload","x":1511.5060119628906,"y":561.45623254776,"wires":[]},{"id":"1a755fe9.8caff8","type":"function","z":"9e816c05.9fd9d8","name":"testFunction","func":"msg.payload=context.global.value;\nreturn msg;","outputs":1,"noerr":0,"x":1648.7936706542969,"y":435.5749158859253,"wires":[["4abf5f5a.cd5a4"]]},{"id":"afe58b96.c95f08","type":"debug","z":"9e816c05.9fd9d8","name":"selectLastRecordOutput","active":true,"console":"false","complete":"payload","x":1280.1664581298828,"y":498.8000020980835,"wires":[]},{"id":"a1ed4feb.77805","type":"debug","z":"9e816c05.9fd9d8","name":"LastRecordOutput","active":true,"console":"false","complete":"payload","x":1245.287239074707,"y":589.7624740600586,"wires":[]},{"id":"6494eebd.2ecfe","type":"inject","z":"9e816c05.9fd9d8","name":"stop Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.49994659423828,"y":517.3750019073486,"wires":[["aba135fc.e7db68"]]},{"id":"c7e8d005.dbd7b8","type":"csv","z":"9e816c05.9fd9d8","name":"Read CSV","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"observation,procedure,type,observedProperty,result,floatValue,uom,samplingTime,inXSDDateTime,ID,hasSourceURI,distance,hasLocation,alt ,lat,long","x":286.0000762939453,"y":169.8000316619873,"wires":[["8de8d7d7.196a68"]]},{"id":"9d0caf6.4dfe3d","type":"http request","z":"9e816c05.9fd9d8","name":"GET Request","method":"GET","ret":"txt","url":"http://localhost:8080/","tls":"","x":258.0999755859375,"y":410.6001253128052,"wires":[["e552264a.466728","56827751.4b9c7"]]},{"id":"4abf5f5a.cd5a4","type":"websocket out","z":"9e816c05.9fd9d8","name":"","server":"c5156d79.494ea","client":"","x":1597.7869338989258,"y":744.8061101436615,"wires":[]},{"id":"bd87a0f1.a942c8","type":"websocket in","z":"9e816c05.9fd9d8","name":"","server":"c5156d79.494ea","client":"","x":1604.7935791015625,"y":362.4998970031738,"wires":[["1a755fe9.8caff8","5b3c8dbb.d114d4"]]},{"id":"458bcac9.fd6154","type":"file in","z":"9e816c05.9fd9d8","name":"Read a File","filename":"/home/farah/Documents/PhD/IJSC2018/DatasetAndQueries/oneHourCSVFile/oneHourFile.csv","format":"utf8","sendError":true,"x":296.0000915527344,"y":113.80007648468018,"wires":[["c7e8d005.dbd7b8"]]},{"id":"ff67780e.a4ebd","type":"inject","z":"9e816c05.9fd9d8","name":"Start Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205.10000610351562,"y":361.8000183105469,"wires":[["9d0caf6.4dfe3d"]]},{"id":"56827751.4b9c7","type":"debug","z":"9e816c05.9fd9d8","name":"display Get Request","active":true,"console":"false","complete":"payload","x":567.506103515625,"y":412.2686462402344,"wires":[]},{"id":"5b3c8dbb.d114d4","type":"debug","z":"9e816c05.9fd9d8","name":"testFunctionOutput","active":true,"console":"false","complete":"payload","x":1569.7933959960938,"y":810.2688655853271,"wires":[]},{"id":"9c2f1c47.1a95","type":"inject","z":"9e816c05.9fd9d8","name":"Insert Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":146.0001220703125,"wires":[["458bcac9.fd6154","285cf13a.d74fce"]]},{"id":"a6d3b0a7.cd23c8","type":"websocket in","z":"9e816c05.9fd9d8","name":"observations In","server":"724bb36c.044184","client":"","x":771.0060653686523,"y":766.6811790466309,"wires":[["263aa52e.33245a"]]},{"id":"263aa52e.33245a","type":"websocket out","z":"9e816c05.9fd9d8","name":"observations Out","server":"724bb36c.044184","client":"","x":1090.0059204101562,"y":793.9876298904419,"wires":[]},{"id":"52293ba3.0a549c","type":"websocket in","z":"9e816c05.9fd9d8","name":"sql In","server":"f18676df.bb45c8","client":"","x":123.99993133544922,"y":767.6812133789062,"wires":[["b375e250.07bfc8","91b9344f.d284c"]]},{"id":"b375e250.07bfc8","type":"websocket out","z":"9e816c05.9fd9d8","name":"sql Out","server":"f18676df.bb45c8","client":"","x":371.01241302490234,"y":779.9999389648438,"wires":[]},{"id":"285cf13a.d74fce","type":"function","z":"9e816c05.9fd9d8","name":"Set global sqlString","func":"context.global.sqlString=null;\nreturn msg;","outputs":1,"noerr":0,"x":103.01244354248047,"y":189.73745727539062,"wires":[["9c0d888e.6be8e8"]]},{"id":"9c0d888e.6be8e8","type":"debug","z":"9e816c05.9fd9d8","name":"b","active":true,"console":"false","complete":"payload","x":255.0124282836914,"y":215.44372940063477,"wires":[]},{"id":"b384e484.0c802","type":"comment","z":"9e816c05.9fd9d8","name":"Start Streaming Query is Not used! ","info":"Start Streaming Query is Not used to run on demand query execution. Using Start Streaming Query flow the idea was to implement window concept in node-red sql database, but was not implementable here.","x":145,"y":397,"wires":[]},{"id":"870b16de.c291a","type":"comment","z":"9e816c05.9fd9d8","name":"Press Insert Records to start on-demand Query execution!","info":"","x":257,"y":112,"wires":[]},{"id":"f27817d.bb9f168","type":"sqlitedb","z":"961e296e.13052","db":"/sqliteDB"},{"id":"c5156d79.494ea","type":"websocket-listener","z":"","path":"test3","wholemsg":"false"},{"id":"724bb36c.044184","type":"websocket-listener","z":"","path":"test2","wholemsg":"false"},{"id":"f18676df.bb45c8","type":"websocket-listener","z":"","path":"mywebsocket","wholemsg":"false"}]
